{"is_source_file": true, "file_id": 9, "git_revision": "2088360fd38612a9b11dfbba53f7f6e517d04568", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "5089fc6ca3c4d6046efc8e50c3e9af0d", "format-version": 4, "code-base-name": "tic_tac_toe_backend", "filename": "tic_tac_toe_backend/requirements.txt", "knowledge_revision": 18}