{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 9, "knowledge_revision": 21, "git_revision": "a09b589b97e29553f798567fc35f3eb879ad47d1", "hash": "5089fc6ca3c4d6046efc8e50c3e9af0d", "format-version": 4, "code-base-name": "tic_tac_toe_backend", "filename": "tic_tac_toe_backend/requirements.txt", "revision_history": [{"21": "a09b589b97e29553f798567fc35f3eb879ad47d1"}]}